{% extends "layout.html" %}

{% block title %}Keskustelupalsta{% endblock %}

{% block content %}
<h2>Etsi käyttäjiä</h2>

<form action="/find_user" method="get">
  <p>
    <label for="query">Hakusana:</label> <br />
    <input type="text" name="query" id="query" value="{{ query or '' }}">
  </p>
  <input type="submit" value="Hae">
</form>

<h2>Tulokset</h2>
<ul>
  {% for user in results %}
    <li>
      <a href="/user/{{ user.id }}">{{ user.username }}</a>
    </li>
  {% endfor %}
</ul>
{% if page_count > 1 %}
<p>
  <a href="/find_user/1?query={{ query }}">&laquo;&laquo;</a>
  <a href="/find_user/{{ page - 1 }}?query={{ query }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/find_user/{{ page + 1 }}?query={{ query }}">&gt;&gt;</a>
  <a href="/find_user/{{ page_count }}?query={{ query }}">&raquo;&raquo;</a>
</p>
<hr />
{% endif %}
{% endblock %}