{% extends "layout.html" %}

{% block title %}Keskustelupalsta{% endblock %}

{% block content %}
<h2>Käyttäjän {{ user.username }} tilastot</h2>
<p>
  <div class="conversation">
  Käyttäjällä on {{ conversations_count }} keskustelunavausta ja {{ comments_count }} kommenttia keskusteluissa
  </div>
</p>
{% if conversations %}
<h2>Uusimmat keskustelunavaukset</h2>
<ul>
  <div class="conversation">
  {% for conversation in conversations %}
  <li><a href="/conversation/{{ conversation.id }}">{{ conversation.title }}</a> {{conversation.modification_time}} </li>
  {% endfor %}
  </div>
</ul>
{% endif %}
{% if comments %}
<h2>Uusimmat kommentit</h2>
<ul>
  <div class="opening">
  {% for comment in comments %}
  <li><a href="/conversation/{{ comment.conversation_id }}">{{ comment.comment }}</a> {{comment.modification_time}} </li>
  {% endfor %}
  </div>
</ul>
{% endif %}
{% endblock %}